@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@font-face {
  font-family: minecraft;
  src: url("./assets/fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}

* {
  font-family: minecraft;
  letter-spacing: 0.5px;
  font-weight: 300;
  user-select: none;
}

.mc-button {
  height: 30pt;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  background: #999 url("/assets/home/button_bg.png") center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
}
.mc-button:hover .title {
  background-color: rgba(100, 100, 255, 0.45);
  text-shadow: 2px 2px #202013cc;
  color: #ffffa0;
}
.mc-button:active .title {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #fff5;
}

.mc-button .title {
  width: 100%;
  height: 100%;
  padding-bottom: 0.3em;
  color: #ddd;
  text-shadow: 2px 2px #000a;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px
  );
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px)
  );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}

.shadow-inset {
  box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
  border-top: #939393 2px solid;
  border-left: #939393 2px solid;
}

.pixel-corners::after {
  margin: -4px;
}

.box-with-shadow {
  @apply bg-[#8b8b8b] border-[3.2px] border-solid border-t-[#5d5d5d] border-l-[#5d5d5d] border-b-white border-r-white;
}

.box-with-shadow.hotbar {
  @apply relative bg-transparent border-t-[#5d5d5d] border-l-[#5d5d5d] border-b-[#7f7f7f] border-r-[#7f7f7f];
}

.box-with-shadow.hotbar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/home/button_bg.png");
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}

.focusHotbar {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  width: 150%;
  height: 150%;
  z-index: 2;
}

.focusHotbar div {
  width: 100%;
  height: 100%;
  border-top: #fcfefc 1px solid;
  border-left: #fcfefc 1px solid;
  box-shadow: inset -2px -4px #9eaf9a, inset 2px 2px #5f6d5c;
}

.focusHotbar div div {
  border: #acbda8 1px solid;
}

.focusHotbar div div div {
  border-top: #606e5d 1px solid;
  border-left: #606e5d 1px solid;
  box-shadow: inset -2px -2px #daedd5, inset 2px 2px #daedd5;
}

.box-with-shadow.bold {
  @apply border-t-[#373737] border-l-[#373737];
}

.world { 
  @apply flex flex-col px-2 border-2 border-transparent;
}

.world.active {
  @apply flex flex-col px-2 bg-black border-2 border-solid border-gameGray;
}